body{
    margin:0;
    font-family: Poppins, sans-serif;
}

.nav {
    background-color: #313633;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 35% 8px 35%;
}

.nav > a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

a:hover{opacity: 0.5}

.icon {
    display: block;
}